VITE_API_URL=http://localhost:3000/api

# Google OAuth — get Client ID from: console.cloud.google.com
# Authorized origins: http://localhost:5173
# Authorized redirect URIs: http://localhost:5173
VITE_GOOGLE_CLIENT_ID=193257767617-lgjivkusutsumdjslih4fgvis58pm1tg.apps.googleusercontent.com
